:root {
  background-color: var(--bg);
  color: var(--fg);
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
}
body > * {
  padding: 0.2em;
}
.grid {
  display: grid;
  grid-gap: 0.5em;
}
.link {
  grid-template-columns: auto 1fr auto;
}
.actions {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.actions > * {
  margin: 0.5em;
  flex-grow: 1;
}
.seek-bar {
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.volume {
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.timings {
  display: flex;
  justify-content: space-between;
}
.queue {
  counter-reset: section;
}
.queue-item {
  cursor: pointer;
  padding: 0.5em;
  background-color: var(--hl);
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-areas: "a b c c" "a b d e";
  grid-gap: 0.5em;
  align-items: center;
  text-decoration: none;
  color: var(--fg);
}
.queue-item::before {
  counter-increment: section;
  content: counter(section);
  grid-area: a;
}
.queue-item > img {
  grid-area: b;
  width: 5em;
}
.queue-item > .title {
  grid-area: c;
}
.queue-item > .duration {
  grid-area: d;
}
.queue-item > .link {
  justify-self: end;
  grid-area: e;
}
.queue-item.current {
  font-weight: bold;
  border: 1px solid var(--fg);
}
/* https://loading.io/css/ */
.queue-item.loading::before {
  content: " ";
  display: block;
  width: 35px;
  height: 35px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input,
button {
  padding: 0.5em;
  color: var(--fg);
  background-color: var(--bg);
  border: 1px solid var(--fg);
  border-radius: 5px;
}
input[type="submit"],
button {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  --bg: #1e1e1e;
  --hl: #323232;
  --fg: #fff;
  font-family: Segoi;
}
